@import url("https://fonts.googleapis.com/css?family=Poppins");
html,body {
  margin: 0;
  font-family: 'Poppins' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1E8F5 !important;
  
}
body a{
  text-decoration: none;
  color: black;
}

code {
  font-family: 'Poppins' !important;
}
